@use 'variables' as v; 
@use 'mixins' as m; 

.acces{
    font-family:v.$Fuente;
    text-align:center;
    padding:3.5rem;

    &__heading{
        font-size:3rem;
        width:50%;
        margin: 0 auto;
        font-weight:400;
    }

    &__texto{
        color:v.$cyan;
        font-size:2.3rem;
        width:70%;
        margin:0 auto;
        line-height:1.7;
        padding:3rem;
    }

    &__contenido{
        @include m.tablet{
            display:flex;
            flex-direction:column;
            align-items: center;
        }
    }

    &__imagen{
        @include m.tablet{
            margin-top:5rem;
        }
    }
}