@use 'variables' as v; 
@use 'mixins' as m; 


.android{
    text-align:center;
    margin-top:6rem;
    padding:2rem;

    &__heading{
        font-family:v.$Fuente;
        font-size:3rem;
        font-weight:400;
        width:50%;
        margin:0 auto;
        padding:1.5rem;
    }

    &__texto{
        font-size:2rem;
        color:v.$cyan;
        line-height:1.7;
        width:60%;
        margin:0 auto;

    }

    &__botones{
        margin-top:0;
        cursor:pointer;

        @include m.tablet{
            margin-top:5rem;
        }
    }
    &__boton,
    &__botonn{
        display:block;
        margin-top:2.5rem;
    }
    &__botonn{
        display:block;
        font-size:1.5rem;
        margin-top:3rem;
        border-radius:4rem;
        padding:1.5rem 4rem;
        background-color:v.$cyan;
        color:#fff;

        @include m.tablet{
            display:inline;
            
        }
    }
    &__boton{
        font-size:1.5rem;
        margin-top:3rem;
        border-radius:4rem;
        padding:1.5rem 4rem;
        background-color:v.$azul;
        color:#fff;

        @include m.tablet{
            display:inline;
            
        }
    }
}
