@use 'variables' as v; 
@use 'mixins' as m; 

.empresas{
    padding:3rem;
    margin-top:9rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:8rem;

    @include m.tablet{
        flex-direction:row;
        justify-content: center;
    }
}