@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
[class$="contenedor"],
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
[class$="texto"],
.texto {
    font-family:v.$Fuente;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    padding:0;
    list-style: none;
    margin: 0;
}
