@use 'variables' as v; 
@use 'mixins' as m; 

.workflow{
    &__heading{
        font-family:v.$Fuente;
        font-size:2.7rem;
        width:40%;
        text-align:center;
        margin-bottom:3rem;
        font-weight:400;
    }

    &__texto{
        font-size:2rem;
        color:v.$cyan;
        width:50%;
        margin:0 auto;
        text-align:center;
        

    }

    &__caracteristicas{
        margin-top:8rem;
        @include m.tablet{
            display:flex;
        }
    }

    &__contenido{
        display:flex;
        align-items: center;
        flex-direction: column;
        padding:3rem;
        text-align:center;
        line-height:1.7;

        @include m.tablet{
            flex:1;
        }

    }

    &__encabezado{
        font-family:v.$Fuente;
        font-size:2.7rem;
        margin-top:2rem;
        margin-bottom:2rem;
        font-weight:400;
    }

    &__descripcion{
        font-family:v.$Fuente;
        font-size:2rem;
        color:v.$cyan;
    }
}  
